<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/css/main.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="/js/modernizr-2.6.2.min.js"></script>


</head>


<body>
{{{body}}}  


 <script src="/js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
        <script src="/js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="/js/jquery.fancybox.pack.js"></script>
		<!-- Google Map API -->
		<!-- Owl Carousel -->
        <script src="/js/owl.carousel.min.js"></script>
        <!-- jquery easing -->
        <script src="/js/jquery.easing.min.js"></script>
        <!-- Fullscreen slider -->
        <script src="/js/jquery.slitslider.js"></script>
        <script src="/js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
        <script src="/js/wow.min.js"></script>
		<!-- Custom Functions -->
		<script src="/js/main.js"></script>
      
		
		  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
		
        <script>
		


  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD_8dRcqq_u8f5ejq9y7VvVN6zL_0IWKB0",
    authDomain: "consultingapp-ac5fa.firebaseapp.com",
    databaseURL: "https://consultingapp-ac5fa.firebaseio.com",
    projectId: "consultingapp-ac5fa",
    storageBucket: "consultingapp-ac5fa.appspot.com",
    messagingSenderId: "364505217551"
  };
  firebase.initializeApp(config);

		</script>
		
		
		  <script src="/js/firebase.js"></script>







</body>









</html>
    